/* hint.module.css */
.hint {
  padding: var(--space) var(--space-sm);
  font-size: var(--caption);

  &::before {
    content: ' × ';
    color: var(--error);
    margin-bottom: -1px;
    font-weight: bold;
  }
}

.error {
  color: var(--error);
}

.success {
  color: var(--ok);
}

.info {
  color: var(--info);
}

.default {
  color: var(--color-text);
}