.login {
  margin-top: 10rem;
}

.head {
  max-width: 80%;
  margin: 0 auto calc(var(--space-lg) * 2);
  text-align: center;
  opacity: 0.6;
}

.content {
  padding: var(--space-lg);
}

.btn {
  margin-top: calc(var(--space-lg)*2);
}

@media screen and (max-width: 37.49em) {
	.login {
    margin-top: 2rem;
    max-height: 100vh;
    height: var(100vh + 2rem);
    overflow-y: hidden;
  }
}
