.btn {
  width: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(var(--input-height) + var(--space));
  border: 2px solid var(--primary-lightest);
  box-sizing: content-box;
  background: var(--white-600);
  border-radius: var(--radius-sm);
  color: var(--primary);
  font-weight: var(--weight-bold);
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn:hover, .btn:focus {
  background: var(--white);
  border-color: var(--white);
  color: var(--primary-dark);
}

.load {
  transform: scale(0.8);
}

.load > svg {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
