.fallback {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


.body { 
  margin-top: 20rem;
  width: 600px;
}

.content {
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  
  & > p {
    max-width: 400px;
    color: var(--white);
  }
}

.message {

}