/* hint.module.css */
.hint {
  padding: 10px;
}

.error {
background-color: var(--error);
}

.success {
  background-color: var(--ok);
}

.info {
  background-color: var(--info);
}

.default {
  background-color: var(--color-text);
}