.inputBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: var(--space-lg) 0;
}

.label {
  color: var(--white-800);
  font-size: var(--body);
  font-weight: var(--weight-bold);
  margin: var(--space-sm) 0;
}

.__error > .label {
  color: var(--error-dark);
}
